/* Global Keyframe Animation */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply animation to the text */
.gradient-text {
  background: linear-gradient(
    131deg,
    #9c83ff 10%,
    #b89cff 30%,
    #e0f010 55%,
    #f5b342 75%,
    #ff9051 90%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  animation: gradientMove 15s linear infinite;
  flex-grow: 1;
  font-size: 1.4rem;
  font-weight: 800;
}
